*{
    font-family: "Josefin Sans";
    box-sizing: border-box;
}
:root {
    --main-section-color: #ffe5d9;
    --main-section-hover-color:hsl(20, 100%, 96%);
    --side-section-color: #f8edeb;
    --placeholder-font-color: #9a8c98;
  }
body{
    overflow: hidden;
    margin: 0;
    background-color: #d8e2dc;
}
.task{
    transition: 0.4s background-color;
}
.hr{
   width: 100%;
   height: 3px;
   background-color: white;
}
#main-section{
    position: relative;
    left: 28em;
    background-color: #ffe5d9;
    border-radius: 15px;
    width: 42%;
    height: 97vh;
    border: white solid 5px;
    padding: 0;
    margin-right: 4px;
    margin-top: 10px;
    overflow: auto;
    /* transform: translateY(-110%);*/
    transition: transform 0.8s cubic-bezier(0.25, 0.47, 0.34, 1.4);
}
#side-section{
    display: none;
    position: relative;
    bottom: 1300px;
    left: 53em;
    width: 30%;
    height: 67vh;
    padding: 5.75px;
    border: solid;
    border-radius: 15px;
    background-color: #f8edeb;
    border: white solid 5px;
    margin-left: 0;
    margin-top: 10px;
    transition: transform 0.8s cubic-bezier(0.22, 0.83, 0.71, 1.02);
}
#side-section > *{
    margin-left: 10px;
}
#add-task-div{
    text-align: left;
    position: sticky;
    top: 0px;
    padding-left: 13px;
    font-size: 20px;
    height: 50px;
    background-color: #ffe5d9;
    border: white solid;
    width: 96.5%;
    margin: 10px;
    border-radius: 20px;
    transition: 0.4s background-color;
}
#add-task-div:hover{
    background-color:var(--main-section-hover-color);
    cursor: pointer;
}
#add-task-div:active{
    background-color: white;
}
.task:hover{
    background-color:var(--main-section-hover-color);
    cursor: pointer;
}
.arrow-right-button{
    background-color: #ffe5d9;
    transition: 0.4s background-color, 0.4s transform ease-in-out;
    border: none;
    margin-left: auto;
    font-size: 20px;
}
.task:hover .arrow-right-button{
    background-color:var(--main-section-hover-color);
    transform: scale(1.15);
    cursor: pointer;
}
.task:active{
    background-color: white;
}
.task:active .arrow-right-button{
    background-color: white;
}
#add-task-div *{
    display: inline;
    color: black;
    margin: 0;
    padding-left: 0;
    padding-right: 7px;
}
input[type="checkbox"]
{
    height: 18px;
    width: 18px;
    margin-top: 0.5px;
    margin-right: 14px;
}
.task-first-line{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.task-second-line{
    margin-left: 58px;
    margin-top: 3px;
    display: flex;
}
.task-second-line *{
    margin-top: 0;
}
.fa-solid.fa-calendar-days{
    font-size: 0.9em;
    margin-right: 5px;
}
.task-second-line p{
    font-size: 13.5px;
    margin-top: 1px;
    margin-right: 20px;
}
.fa-solid.fa-flag{
    color: red;
    height: 28.1px;
    font-size: 0.87em;
}
textarea{
    font-size: 19px;
    background-color: var(--side-section-color);
    border-radius: 10px;
    resize:none;
    border: white solid;
    padding: 10px;
    margin-bottom: 5px;
}
textarea::placeholder{
    color: var(--placeholder-font-color);
}
#priority-div{
    margin-top: 10px;
}
#priority-div, #date-div{
    font-size: 18px;
    display: flex;
    align-items: center;
}
#date-div{
    margin-top: 10px;
}
#priority-div > label, #date-div > label{
    margin-left: 0;
}
#priority-select{
    padding-left: 0;
    margin-left: 26.5px;
    width: 120px;
}
#select-line:hover{
    cursor: pointer;
}
#select-line:hover .fa-angle-down{
    color: white;
    transition: 0.4s;
}
#select-line{
    background-color: red;
    border: white solid 3px;
    border-radius: 10px;
    height: 27px;
    padding: 5px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
}
#priority-select{
    font-size: 15px;
}
#priority-select > *{
    width: 92px;
}
#select-view{
    margin-top: 3px;
    border: 3px white solid;
    border-radius: 3px;
    position: absolute;
    display: none;
}
input[type="date"]{
    font-size: 15px;
    width: 117px;
    background-color: whitesmoke;
    padding: 2px;
    border: solid white 3px;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.4s background-color;
}
#date-input:hover{
    cursor: pointer;
    background-color: white;
}
#first-li{
    background-color: red;
    border-bottom: 3px white solid;
}
#second-li{
    background-color: yellow;
    border-bottom: 3px white solid;
}
#third-li{
    background-color: green;
}
.select-view-li{
    margin-left: 0;
    padding: 4px;
    padding-bottom: 2px;
    padding-top: 3px;
    height: 24px;
    display: flex;
    align-items: center;
}
.select-view-li:hover{
    cursor: pointer;
}
#down-buttons{
    display: flex;
    justify-content: space-evenly;
}
#down-buttons > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}
#down-buttons-apply-button{
    border: 3px solid white;
    background-color: var(--main-section-color);
}
#down-buttons-delete-button{
    border: 3px solid white;
    background-color: whitesmoke;
}
#side-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i.fa-regular.fa-rectangle-xmark{
    margin-right: 10px;
    color: black;
    font-size: 28px;
    transition: 0.12s color;
}
i.fa-regular.fa-rectangle-xmark:hover{
    color: gray;
    cursor: pointer;
}
i.fa-regular.fa-rectangle-xmark:active{
    color: white;
}
#down-buttons-delete-button:hover{
    transition: 0.4s background-color;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}
#down-buttons-delete-button:active{
    background-color: white;
}
#down-buttons-apply-button:hover{
    transition: 0.4s background-color;
    cursor: pointer;
    background-color: var(--main-section-hover-color);
}
#down-buttons-apply-button:active{
    background-color: white;
}
.highlighted{
    animation-name: highlight;
    animation-duration: 0.8s;
    border-color: red;
}
.highlighted::placeholder{
    color: red;
}
.selected{
    pointer-events: none;
    background-color: var(--main-section-hover-color);
}
.selected .arrow-right-button{
    transform: scale(1.15);
}

.selected .check-box{
    pointer-events: all;
}

.check-box:hover{
    cursor: pointer;
}

.disappearing,
.disappearing *{
    transition: background-color 1s, 
                color 1s;
}

.disappearing:has(input[type="checkbox"]:checked),
.disappearing:has(input[type="checkbox"]:checked) *
{
    background-color: #fffcf9;
    color: #fffcf9;
}

@keyframes highlight{
    0%{
        border-color: red;
    }
    10%{
        border-color: var(--side-section-color);
        
    }
    20%{
        border-color: red;


    }
    30%{
        border-color: var(--side-section-color);

    }
    40%{
        border-color: red;


    }
    50%{
        border-color: var(--side-section-color);


    }
    60%{
        border-color: red;

    }
    70%{
        border-color: var(--side-section-color);

    }
    80%{
        border-color: red;

    }
    90%{
        border-color: var(--side-section-color);

    }
    100%{
        border-color: red;

    }
}